.page-content
  .logo
    text-align: center
    background-color #131313
    img
      width 100%
.maridaje
  h2
    position relative
    &:after
      content ""
      display block
      width 70%
      height 1px
      background-color #ff9500
      position absolute
      top: 13px
      right 0
.list-block
  margin-top 0 !important
.icon-nomads
  font-family nomads
  &.icon-vegetarian-mark
    color greenyellow
  &.icon-heart
    color red
  &.icon-flame
    color red
.title
  h2
    font-size 20px
  p
    font-size: 18px
    height: inherit
    display block
.chip
  margin-right 4px

