<div class="container">
	<div class="row">	
			<a href="#Menue/homemenu" class="btn-close pull-right"><i class="icon-cross"></i></a>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h2>Ensalada de Arúgula, pera y
			parmesano.</h2>
			<p>Ensalada de arúgula servida con pera,
			tomate cherry, vinágre balsámico y
				parmesano.</p>
			<h2>Ensalada de Kale</h2>
			<p>Col rizada servida con pasas, almendras,
			aceitunas negras, queso de cabra cenizo y
				aderezo de frutos rojos.</p>
			<h2>Taco Placero</h2>
			<p>Servido con ingredientes del mercado 23,
			tortilla de huitlacoche, pork belly al alto
			vacío, reducción de piña y chile de árbol,
			berro en tempura de achiote, puero
				crujiente y aceite de papaloquelite.</p>
			<h2>Laksa</h2>
			<p>Sopa de Noodles servida con camarón,
				coco, acelga china y germen de soya.</p>
			<h2>Guacamole Fresco</h2>
			<p>Guacamole tradicional acompañado
				de totopos.</p>
			<h2>Elotes Asados</h2>
			<p>Servidos con chile tajín y queso
				parmesano.</p>
			<h2>Aros de Calamar</h2>
			<p>Calamar frito acompañado de salsa
				marinara</p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h2>Curry de Pollo</h2>
			<p>Estofado de pollo en leche de coco, curry
				y cúrcuma, típico de la India.</p>
			<h2>Tacos Veganos</h2>
			<p>Preparados con hojas de radicchio,
				estofado de coliflor y chorizo de soya.</p>
			<h2>Tártara de Atún</h2>
			<p>Cortado al momento, marinado en salsa
				de soya, champiñón y cebolla morada.</p>
			<h2>Empanada de Rajas</h2>
			<p>Horneada y rellena de rajas poblanas.</p>
			<h2>Ravioli Medialuna</h2>
			<p>Ravioli rellenos de riccotta, espinacas,
			servidos con una salsa de salmón y
				vodka.</p>
			<h2>Costilla de Cerdo</h2>
			<p>Cocinado a 73ºC por 12 horas en salsa
			de soya, vinagre de arroz y jenjibre,
				servido sobre puré de camote.</p>
			<h2>Mejillones Estilo Belga</h2>
			<p>Clásico de Bruxelles servido con una
			salsa de crema , vino blanco y apio.
			(También pueden prepararse al mezcal
				con salsa de tomate y orégano)</p>
			<h2>Risotto al Funghi</h2>
			<p>Arroz “carnaroli”, mezcla de setas y queso
				parmesano.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<a href="#Menue/menudisplay1" class="btn btn-nomads quiet flat active">1</a>
			<a href="#Menue/menudisplay2" class="btn btn-nomads quiet flat">2</a>
			<a href="#Menue/menudrinks" class="btn btn-nomads quiet flat">Drinks</a>
			<a href="#Menue/menubowls" class="btn btn-nomads quiet flat">Fish Bowls</a>
		</div>
	</div>
</div>