<div class="container">
	<div class="row">	
		<a href="#Menue/homemenu" class="btn-close pull-right"><i class="icon-cross"></i></a>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h3>POSTRES</h3>
			<h2>Tiramisu Cristina</h2>
			<p>Receta de la nonna</p>
			<h2>Salami de chocolate</h2>
			<p>Chocolate crujiente en forma de salami, servido con queso crema y mermelada casera</p>
			<h2>Apfelkuchen</h2>
			<p>Tarta de manzana, tradicional de Alemania, servido con helado de vainilla</p>
			<h2>Garipato</h2>
			<p>Panque a base de mantequilla, cubierta con grajea blanca, acompañado con crema de café. Servido en nuestro simbólico pato</p>
			
		</div>
		<div class="col-xs-12 col-sm-6">
			<h2>Cheese cake Japonés</h2>
			<p>Biscocho japonés, acompañado de un cubo de helado de queso, relleno de fresa y con una cubierta de galleta, crocante de queso parmesano y una deliciosa salsa de fresa con hierba buena</p>
			<h2>Helado de Vainilla</h2>
			<br>
			<h2>Helado de Pistachio</h2>
			<br>
			<h2>Helado de Té Chai </h2>
			</div>
	</div>
	<div class="row">	
		<a href="#Menue/menudisplay1" class="btn btn-nomads quiet flat">1</a>
		<a href="#Menue/menudisplay2" class="btn btn-nomads quiet flat">2</a>
		<a href="#Menue/menupostres" class="btn btn-nomads quiet flat active">Postres</a>
		<a href="#Menue/menudrinks" class="btn btn-nomads quiet flat">Drinks</a>
		<a href="#Menue/menubowls" class="btn btn-nomads quiet flat">Fish Bowls</a>
		<a href="#Menue/menusingature" class="btn btn-nomads quiet flat">Signature Drinks</a>
	</div>
</div>