<div class="container">
	<div class="row">	
		<a href="#Menue/homemenu" class="btn-close pull-right"><i class="icon-cross"></i></a>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<h3>WHISKEY</h3>
			<h2>TAMERIND WHISKEY SOUR</h2>
			<p>Jugo de limón, Jarabe natural, puré de tamarindo, whiskey bourbon, Licor ancho reyes y  amargo de angostura.</p>
			<h2>VAQUERI TIKKI</h2>
			<p>Jugo de limón, jarabe natural, jugo de piña, whiskey bourbon y romero.</p>
			<h3>TEQUILA</h3>
			<h2>SPICY MANGO MARGARITA</h2>
			<p>Jugo de limón, jarabe de chile, puré de mango y tequila blanco.</p>
			<h2>GOLDEN MULE</h2>
			<p>Jugo de limón, jarabe de Jamaica, tequila blanco, menta y amargo de limón.</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<h3>RON</h3>
			<h2>OLD CUBAN</h2>
			<p>Jugo de limón, jarabe natural, ron añejo, menta, angostura y prosseco a flote.</p>
			<h2>MARKET 23</h2>
			<p>Jugo de limón, jarabe de canela, miel, ron añejo, aperol, romero, maracuyá, amargo de angostura.</p>
			<h3>GIN</h3>
			<h2>SOUTH SIDE</h2>
			<p>Jugo de limón, jarabe natural, ginebra y menta.</p>
			<h2>ROYAL GIMLET</h2>
			<p>Jugo de limón, jarabe de lavanda, jugo de toronja, ginebra, amargo de toronja y prosseco a flote.</p>
		</div>
		<div class="col-xs-12 col-sm-4">
			<h3>MEZCAL</h3>
			<h2>OAXACA NEGRONI</h2>
			<p>Mezcal con infusión de piña, vermouth dulce y campari.</p>
			<h2>PALOMA PICANTE</h2>
			<p>Jugo de limón, jarabe de chile, jugo de toronja y mezcal.</p>
			<h3>VODKA</h3>
			<h2>PURA VIDA</h2>
			<p>Jugo de limón, jarabe natural, jugo de piña, vodka vainilla.</p>
			<h2>PINK PANTHER</h2>
			<p>Jugo de limón, jarabe de jengibre, jugo de sandía, vodka, salvia y amargo de limón.</p>
		</div>
	</div>
	<div class="row">	
		<a href="#Menue/menudisplay1" class="btn btn-nomads quiet flat">1</a>
		<a href="#Menue/menudisplay2" class="btn btn-nomads quiet flat">2</a>
		<a href="#Menue/menudrinks" class="btn btn-nomads quiet flat active">Drinks</a>
		<a href="#Menue/menubowls" class="btn btn-nomads quiet flat">Fish Bowls</a>
	</div>
</div>