<div class="container">
	<div class="row">	
		<a href="#Menue/homemenu" class="btn-close pull-right"><i class="icon-cross"></i></a>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h2>Atún Sellado en Berenjena</h2>
			<p>Atún servido en piel de berenjena sobre una cama de espárragos a la plancha, reducción de oporto y tomates cherry al ajillo; clásico catalán.</p>

			<h2>Jerk Salmón</h2>
			<p>Salmón marinado con mezcla de especias jamaiquinas, servido con cebolla confitada por 4 horas,  papas al comino y espinaca fresca.</p>

			<h2>Rib Eye</h2>
			<p>Corte estilo Rib Eye cocinado a 60ºC, servido con un trixat de papa y col chino, crema de champiñones y tomáte cherry al ajillo; un plato que recuerda la Catalunya.</p>

			<h2>Carnitas de Pato</h2>
			<p>Pato desmigado, acompañado de chiles toreados, cebolla asada, guacamole y tortillas de maíz.</p>

			<h2>Rib Eye Estilo Japones</h2>
			<p>Rib Eye a cocción media, servida con nopales, cebolleta y salsa sukiyaki.</p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h3>POSTRES</h3>

			<h2>Tiramisú Cristina</h2>
			<p>Tiramisú suave, receta secreta de la mamá del chef.</p>

			<h2>Salami de Chocolate</h2>
			<p>El chocolate crujiente en forma de salami, servido con queso crema y mermelada casera.</p>

			<h2>Sopa de Piña</h2>
			<p>Tartar de piña en su almíbar, helado de coco y piña colada.</p>

			<h2>Mousse de Chocolate</h2>
			<p>Mousse de chocolate y cítricos. </p>

			<h2>Pan de elote</h2>
			<p>Pan de elote con crema de rompope y palomitas caramelizadas.</p>

			<h2>Apfelkuchen</h2>
			<p>Tarta de manzana tradicional alemana, servida con helado de vainilla aldo’s.</p>

			<h2>Bolas de Helado</h2>
			<p>Sabor Vainilla, Pistacho o Coco</p>
		</div>
	</div>
	<div class="row">	
		<a href="#Menue/menudisplay1" class="btn btn-nomads quiet flat">1</a>
		<a href="#Menue/menudisplay2" class="btn btn-nomads quiet flat active">2</a>
		<a href="#Menue/menudrinks" class="btn btn-nomads quiet flat">Drinks</a>
		<a href="#Menue/menubowls" class="btn btn-nomads quiet flat">Fish Bowls</a>
	</div>
</div>