<div class="container">
	<div class="row">	
			<a href="#Menue/homemenu" class="btn-close pull-right"><i class="icon-cross"></i></a>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h2>PATO CUA CUA</h2>
			<p>Ron Añejo, Jarabe de Lavanda, Jugo de Limón, Amargo de Angostura, Romero y Guayaba.</p>
			
			<h2>MISANDÍA</h2>
			<p>Ron Añejo, Jarabe de Manzanilla, Jugo de Limón, Jugo de Sandía,Amargo de Angostura.</p>
			
			
			<h2>SWEET CHILD</h2>
			<p>Whiskey Bourbon, Jugo de Limón, Jarabe de Chocolate, Moras, Menta y Amargo de Angostura.</p>
			
			
			<h2>SAM GIN</h2>
			<p>Gin Mom, Jugo de Limón, Jarabe de Arándano, Amargo de Naranja.</p>
		</div>
		<div class="col-xs-12 col-sm-6">	
			<h2>ADÁN</h2>
			<p>Mezcal, Jarabe de Manzana, Jugo de Limón, Chile Tajín en polvo, Manzana.</p>
			
			<h2>PIPIRIPAO</h2>
			<p>Mezcal, Jugo de Sandía, Jugo de Uva, Jugo de Limón, Jarabe de Jamaica, Jarabe de Manzanilla.</p>
			
			<h2>EL CHIKIS</h2>
			<p>Tequila, Sandía, Jugo de Limón, Jarabe de Canela, Maracuyá, Chile Tajín en polvo.</p>
			
			<h2>ARRECHO</h2>
			<p>Raicilla Saité, Jugo de Limón, Jugo de Naranja, Jarabe de Jengibre, Amargo de Angostura.</p>
		</div>
	</div>
	<div class="row">
		<a href="#Menue/menudisplay1" class="btn btn-nomads quiet flat ">1</a>
		<a href="#Menue/menudisplay2" class="btn btn-nomads quiet flat">2</a>
		<a href="#Menue/menupostres" class="btn btn-nomads quiet flat">Postres</a>
		<a href="#Menue/menudrinks" class="btn btn-nomads quiet flat">Drinks</a>
		<a href="#Menue/menubowls" class="btn btn-nomads quiet flat ">Fish Bowls</a>
		<a href="#Menue/menusingature" class="btn btn-nomads quiet flat active">Signature Drinks</a>
	</div>
</div>