<div class="container">
	<div class="row">	
			<a href="#Menue/homemenu" class="btn-close pull-right"><i class="icon-cross"></i></a>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h2>Ensalada de Arúgula, pera y parmesano.</h2>
			<p>Ensalada de arúgula servida con pera, tomate cherry, vinágre balsámico y parmesano.</p>

			<h2>Ensalada de Kale</h2>
			<p>Col rizada servida con pasas, almendras, aceitunas negras, queso de cabra cenizo y aderezo de frutos rojos.</p>

			<h2>Arancino Siciliano</h2>
			<p>Bola de arroz rellena de salsa bolognesa y mozarella fresca, servida con una salsa de pimiento rojo, típico de Sicilia.</p>

			<h2>Pad Thai</h2>
			<p>Fideos servidos con tofu, huevo, cebolla morada, cebollín, cilantro, salsa de pescado y tamarindo.
			<br>
			Con pollo o camarones.</p>

			<h2>Guacamole Fresco</h2>
			<p>Guacamole tradicional acompañado de totopos.</p>

			<h2>Elotes Asados</h2>
			<p>Servidos con chile tajín y queso parmesano. </p>

			<h2>Aros de Calamar</h2>
			<p>Calamar frito acompañado de salsa marinara.</p>

			<h2>Curry de Pollo</h2>
			<p>Estofado de pollo en leche de coco, curry y cúrcuma, típico de la India.</p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h2>Tacos Veganos</h2>
			<p>Preparados con hojas de radicchio, estofado de coliflor y chorizo de soya.</p>

			<h2>Tártara de Atún</h2>
			<p>Cortado al momento, marinado en salsa de soya, champiñón y cebolla morada.</p>

			<h2>Empanada de Rajas</h2>
			<p>Horneada y rellena de rajas poblanas.</p>

			<h2>Ravioli Medialuna</h2>
			<p>Ravioli rellenos de riccota, espinacas, servidos con una salsa de salmón y vodka.</p>

			<h2>Pork Belly</h2>
			<p>Cocinado a 73ºC por 12 horas en salsa de soya, vinagre de arroz y jengibre. Servido crujiente en una cama de arroz blanco, típico de Singapur.</p>

			<h2>Mejillones Estilo Belga</h2>
			<p>Clásico de Bruxelles servido con una salsa de crema , vino blanco y apio. </p>

			<h2>Risotto al Funghi</h2>
			<p>Arroz “Carnaroli”, mezcla de setas y queso parmesano.</p>

			<h2>Espaldilla de Res</h2>
			<p>Glaseado con miso y sake, servido en crema de guinness, tomatillo y acelga al vapor. </p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<a href="#Menue/menudisplay1" class="btn btn-nomads quiet flat active">1</a>
			<a href="#Menue/menudisplay2" class="btn btn-nomads quiet flat">2</a>
			<a href="#Menue/menudrinks" class="btn btn-nomads quiet flat">Drinks</a>
			<a href="#Menue/menubowls" class="btn btn-nomads quiet flat">Fish Bowls</a>
		</div>
	</div>
</div>