<div class="container">
	<div class="row">	
			<a href="#Menue/homemenu" class="btn-close pull-right"><i class="icon-cross"></i></a>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h3>ENSALADAS</h3>
			<h2>Ensalada de Fresa</h2>
			<p>Ensalada de espinaca orgánica baby, pera, manzana, uva pasa, queso de cabra y nueces garapiñadas a las finas hierbas. Servida con un aderezo de fresa y albahaca.</p>
			<h2>Ensalada Xīnxiān</h2>
			<p>Mix de lechugas orgánicas con guarnición de calabaza y zanahoria al grill, tomates cherry, aceitunas negras, ejotes y fritura de tortilla. Servida con un aderezo de mostaza antigua, jengibre y miel.</p>
			<h3>ENTRADAS</h3>
			<h2>Cono de Atún</h2>
			<p>Tortilla de jícama al grill rellena de atún, marinado con jugo de piña y chipotle. Acompañado de guacamole y un pico de gallo caribeño.</p>
			<h2>Empanadas</h2>
			<p>Rajas Poblanas</p>
			<p>Carne</p>
			<h2>Carpaccio de Atún</h2>
			<p>Frutal, fresco y tropical.</p>
			<h2>Elotes Asados</h2>
			<p>Servidos con chile tajín y queso
				parmesano.</p>
			<h2>Aros de Calamar</h2>
			<p>Calamar frito acompañado de salsa
				marinara</p>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h2>Guacamole Fresco</h2>
			<p>Guacamole tradicional, acompañado de
				totopos.</p>
			<h2>Tártara de Atún</h2>
			<p>Atún cortado al momento, marinado en salsa de soya, champiñón y cebolla morada. Servido sobre un
				chicharrón de camarón.</p>
			<h3>PASTAS</h3>
				<h2>Capriccio (para compartir)</h2>
			<p>Spaghe i preparado con tocino, queso de cabra, mozzarella, parmesano, con un toque de aceite de trufa blanca.</p>
			<h2>Ravioli Medialuna</h2>
			<p>Ravioli relleno de Ricco a y espinacas. Servidos con una salsa de salmón y Vodka.</p>
			<h3>PLATOS FUERTES</h3>
			<h2>Tacos Placeros (4pzas)</h2>
			<p>Servidos con ingredientes del mercado 23;
				tortilla de huitlacoche, pork belly al alto vacío, reducción de piña y chile de árbol, juliana de poro crujiente, berro tempura con achiote y aceite de papaloquelite.</p>
			<h2>Taco al Pastor Vegano</h2>
			<p>Tortilla de maíz hecha a mano con un bistek de chorizo de soya y adobo. Acompañado de una mermelada de piña y cebolla morada.</p>
			<h2>Mejillones Estilo Belga</h2>
			<p>Clásico de Bruxelles servido con una salsa de crema al vino blanco y apio. También se pueden preparar al mezcal, con salsa de tomate y orégano.</p>
			<h2>Risotto al Funghi</h2>
			<p>Arroz “carnaroli”, mezcla de setas y queso
				parmesano.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<a href="#Menue/menudisplay1" class="btn btn-nomads quiet flat active">1</a>
			<a href="#Menue/menudisplay2" class="btn btn-nomads quiet flat">2</a>
			<a href="#Menue/menupostres" class="btn btn-nomads quiet flat">Postres</a>
			<a href="#Menue/menudrinks" class="btn btn-nomads quiet flat">Drinks</a>
			<a href="#Menue/menubowls" class="btn btn-nomads quiet flat">Fish Bowls</a>
			<a href="#Menue/menusingature" class="btn btn-nomads quiet flat">Signature Drinks</a>
		</div>
	</div>
</div>