<div class="container">
	<div class="row">	
		<a href="#Menue/homemenu" class="btn-close pull-right"><i class="icon-cross"></i></a>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h2>Espaldilla de Res</h2>
			<p>Glaseado con miso y sake, servido en
			crema de guinness, tomatillo y acelga
				al vapor.</p>
			<h2>Atún Sellado en Berenjena</h2>
			<p>Atún servido en piel de berenjena sobre
			una cama de espárragos a la plancha,
			reducción de oporto y tomates cherry al
				ajillo; clásico catalán.</p>
			<h2>Jerk Salmón</h2>
			<p>Salmón marinado con mezcla de
			especias jamaiquinas, servido con cebolla
			confitada por 4 horas, papas al comino y
				espinaca fresca.</p>
			<h2>Rib Eye</h2>
			<p>Corte estilo Rib Eye cocinado a 60ºC,
			servido con un trixat de papa y col chino,
			crema de champiñones y tomáte cherry al
				ajillo; un plato que recuerda la Catalunya.</p>
			<h2>Carnitas de Pato</h2>
			<p>Pato desmigado, acompañado de chiles
			toreados, cebolla asada, guacamole y
				tortillas de maíz.</p>
			<h2>Rib Eye Estilo Japones</h2>
			<p>Rib Eye a cocción media, servida con
				nopales, cebolleta y salsa sukiyaki.</p>
		</div>
		<div class="col-xs-12 col-sm-6">

			<h2>Pechuga Carelli</h2>
			<p>Pechuga de pollo rellena de queso panela
			y pasas, cocinada al alto vacío a 60ºC,
			servido con cebada a la hoja santa y
				reducción de tamarindo.</p>
			<h3>POSTRES</h3>
			<h2>Tiramisú Cristina</h2>
			<p>Tiramisú suave, receta secreta de la mamá
				del chef.</p>
			<h2>Salami de Chocolate</h2>
			<p>El chocolate crujiente en forma de salami,
			servido con queso crema y mermelada
				casera.</p>
			<h2>Pan de elote</h2>
			<p>Pan de elote con crema de rompope y
				palomitas caramelizadas.</p>
			<h2>Apfelkuchen</h2>
			<p>Tarta de manzana tradicional alemana,
				servida con helado de vainilla aldo’s.</p>
			<h2>Garipato (Garibaldi)</h2>
			<p>Panqué a base de mantequilla cubierto
			con gragea blanca, acompañado con
			crema de café; servido en nuestro
				simbólico pato.</p>
			<h2>Bolas de Helado</h2>
			<p>Sabor Vainilla</p>
			<h2>Sabor Pistacho</h2>
			<p>Todas nuestras proteínas se cocinan al alto vacío Sabor Coco</p>
		</div>
	</div>
	<div class="row">	
		<a href="#Menue/menudisplay1" class="btn btn-nomads quiet flat">1</a>
		<a href="#Menue/menudisplay2" class="btn btn-nomads quiet flat active">2</a>
		<a href="#Menue/menudrinks" class="btn btn-nomads quiet flat">Drinks</a>
		<a href="#Menue/menubowls" class="btn btn-nomads quiet flat">Fish Bowls</a>
	</div>
</div>