<div class="container">
	<div class="row">	
			<a href="#Menue/homemenu" class="btn-close pull-right"><i class="icon-cross"></i></a>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h3>Compra la botella* de tu preferencia; Vodka, Gin, Rón, Tequila o Whiskey y te la preparamos de las siguientes maneras:</h3>
			<br>
		</div>
		<div class="col-xs-12 col-sm-6">
			<h2>FRESH CUT</h2>
			<p><b>VODKA</b> - Rodajas de Limón fresco, pepino, jarabe de lavanda y amargo de apio.</p>
			<h2>GRANDMAS MEDICINE</h2>
			<p><b>GIN</b> - Jugo de limón, té de manzanilla, vino blanco y amargo de limón.</p>
			<h2>FINDING NEMO</h2>
			<p><b>RÓN</b> - Lima, naranja, canela, piña y amargo de naranja. </p>
			<h2>LOST TRIBE</h2>
			<p><b>TEQUILA</b> - Lima, sandia, salvia, agua mineral y amargo de angostura.</p>
			<h2>SMASH</h2>
			<p><b>WHISKEY</b> - limon, menta y amargo de angostura.</p>
		</div>
	</div>
	<div class="row">
		<a href="#Menue/menudisplay1" class="btn btn-nomads quiet flat ">1</a>
		<a href="#Menue/menudisplay2" class="btn btn-nomads quiet flat">2</a>
		<a href="#Menue/menupostres" class="btn btn-nomads quiet flat">Postres</a>
		<a href="#Menue/menudrinks" class="btn btn-nomads quiet flat">Drinks</a>
		<a href="#Menue/menubowls" class="btn btn-nomads quiet flat active">Fish Bowls</a>
		<a href="#Menue/menusingature" class="btn btn-nomads quiet flat">Signature Drinks</a>
	</div>
</div>