<div class="container">
	<div class="row">	
		<a href="#Menue/homemenu" class="btn-close pull-right"><i class="icon-cross"></i></a>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h2>Carnitas de Pato</h2>
			<p>Pato desmigado, acompañado de chiles
				toreados, cebolla asada y nopal, guacamole y tortillas de maíz.</p>
			<h2>Rib Eye estilo Japonés</h2>
			<p>Rib Eye a cocción media en salsa Sukiyaki. Servido con nopales y cebolla morada.</p>
			<h2>Pechuga Carelli</h2>
			<p>Pechuga de pollo relleno de queso panela y pasas. Cocinado al alto vacío a 60°C, servida con cebada a la hoja Santa y reducción de tamarindo.</p>
			<h2>Atún Sellado</h2>
			<p>Atún envuelto en láminas de berenjena, sobre una cama de espárragos a la plancha, reducción de oporto y tomate cherry al ajillo; Clásico Catalán.</p>
			<h2>Salmón Jerk</h2>
			<p>Salmon marinado en mezcla de especias Jamaiquinas, servido con cebolla confitada por 4 horas, papas al comino y ensalada fresca.</p>
			<h2>Curry de pollo</h2>
			<p>Estofado de leche de coco, curry y
					cúrcuma, típico de la India.</p>
					<h2>Costillas Mandarín</h2>
					<p>Cocinadas al alto vacío a 72°C por 12
							horas en una salsa de soya, vinagre de arroz y jengibre, servido sobre puré de camote.</p>
		</div>
		<div class="col-xs-12 col-sm-6">

			
			<h2>Enchiladas de Pulpo</h2>
			<p>Cuatro enchiladas rellenas de pulpo estilo suizo, versión Nomads.</p>
			<h3>CARNES <br>
				<span>Nuestro cortes están cocinados en parrilla de piedra volcánica</span></h3>
			
			<h2>Rib Eye (300g)</h2>
			<br>
			<h2>New York (300g)</h2>
			<br>
			<h2>Cornish (para compartir)</h2>
			<p>Pollito de leche glaseado estilo oriental. <br>	
				Servido con Puré de Papa.</p>
			<h3>SIDES</h3>
			<h2>Gajos de papa con trufa</h2>
			<br>
			<h2>Puré de Papa</h2>
			<br>
			<h2>Espinaca y cebolla á la Creme</h2>
			<br>
			<h2>Ensalada mixta con vinagreta de limón real</h2>
			<br>
			<h2>Verduras al Grill</h2>
			</div>
	</div>
	<div class="row">	
		<a href="#Menue/menudisplay1" class="btn btn-nomads quiet flat">1</a>
		<a href="#Menue/menudisplay2" class="btn btn-nomads quiet flat active">2</a>
		<a href="#Menue/menupostres" class="btn btn-nomads quiet flat">Postres</a>
		<a href="#Menue/menudrinks" class="btn btn-nomads quiet flat">Drinks</a>
		<a href="#Menue/menubowls" class="btn btn-nomads quiet flat">Fish Bowls</a>
		<a href="#Menue/menusingature" class="btn btn-nomads quiet flat">Signature Drinks</a>
	</div>
</div>