{% extends 'templates/main.twig' %}

{% block extraStyles %}
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}


{% block SiteContent %}

	<div class="pagine">
		<header class="section" id="posadaHome">
			<img src="img/logo-posada.png" class="aling img-responsive" alt="">
			
		</header>
		
			<div class="container">
				<div class="row">
						<div class="col-xs-12 hidden-xs col-sm-12">
					<div class="cuadro">
						<img src="img/lineas.png" class="img-responsive ima" alt="">
						<h1 class="text-center"> PAQUETES DE COMIDA</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="section" id="PaquetesPosadas">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4  cuadro2">
						<div class="container">
							<div class="row">
								<div class="titulo">
									<h2 class="text-center">MENU UNO</h2>
								</div>
								<h3 class="text-center">ENTRADA</h3>
								<h5 class="text-center">Ensalada de espinaca baby</h5>
								<p class="text-center">Pasas, Almendras, Queso de cabra y Aderezo de frutos rojos</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center">Elotes asados</h5>
								<p class="text-center">Servidos con chile Tajín y queso parmesano.</p>
								<h3 class="text-center">PLATO FUERTE</h3>
								<h5 class="text-center">Pechuga Carelli</h5>
								<p class="text-center">Pechuga de pollo relleno de queso panela y pasas. Cocinado al alto vacío a 60°C, servida con cebada a la hoja Santa y reducción de tamarindo.</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center">Rib Eye estilo Japonés</h5>
								<p class="text-center">Rib Eye a cocción media en salsa  Sukiyaki. Servido con nopales y cebolla morada.</p>
								<h3 class="text-center">POSTRE</h3>
								<p class="text-center">Pastel de elote</p>
								<h5 class="text-center">Pan de elote con crema de rompope y palomitas caramelizadas.</h5>
								<h4 class="opcion">o</h4>
								<p class="text-center">Garipato</p>
								<h5 class="text-center">Panqué a base de mantequilla cubierto con gragea blanca, acompañado con crema de café; servido en nuestro simbólico pato.</h5>
								<div class="col-xs-6"><img src="img/carne.png" class="posada-img" alt=""></div>
								<div class="col-xs-6"><h4>$250<span> <br> Por persona</span></h4></div>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 cuadro2">
						<div class="container">
							<div class="row">
								<div class="titulo">
									<h2 class="text-center">MENU dos</h2>
								</div>
								<h3 class="text-center">ENTRADA</h3>
								<h5 class="text-center">Tártara de Atún</h5>
								<p class="text-center">Atún cortado al  momento, marinado en salsa de soya, champiñón y cebolla morada. Servido sobre un chicharrón de camarón.</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center"> Ensalada de espinaca baby</h5>
								<p class="text-center">Pasas, Almendras, Queso de cabra y Aderezo de frutos rojos</p>
								<h3 class="text-center">PLATO FUERTE</h3>
								<h5 class="text-center">Pasta Capriccio </h5>
								<p class="text-center">Spaghetti preparado con tocino, queso de cabra, mozzarella, parmesano, con un toque de aceite de trufa blanca.</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center">Carnitas de pato</h5>
								<p class="text-center"> Pato desmigado, acompañado de chiles toreados, cebolla asada y nopal, guacamole y tortillas de maíz.</p>
								
								<h3 class="text-center">POSTRE</h3>
								<h5 class="text-center">Apfelkuchen</h5>
								<p>Tarta de manzana tradicional alemana, servida con helado de vainilla aldo’s.</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center">Salami de chocolate</h5>
								<p>El chocolate crujiente en forma de salami, servido con queso crema y mermelada casera.</p>
								<h4>$350<span> <br>Por persona</span></h4>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 cuadro2">
						<div class="container">
							<div class="row">
								<div class="titulo">
									<h2 class="text-center">MENU veggie</h2>
								</div>
								<h3 class="text-center">ENTRADA</h3>
								<h5 class="text-center">Ensalada de espinaca baby </h5>
								<p class="text-center">Pasas, Almendras, Queso de cabra y Aderezo de frutos rojos</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center">Elotes asados</h5>
								<p class="text-center">Servidos con chile Tajín y queso parmesano.</p>
								<h3 class="text-center">PLATO FUERTE</h3>
								<h5 class="text-center">Risotto</h5>
								<p class="text-center"> Arroz “Carnaroli”, mezcla de setas y queso parmesano.</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center">Tacos al pastor veganos</h5>
								<p class="text-center"> Tortilla de maíz hecha a mano con un bistek de chorizo de soya y adobo. Acompañado de una mermelada de piña y cebolla morada.</p>
								<h3 class="text-center">POSTRE</h3>
								<h5 class="text-center">Pastel de elote</h5>
								<p class="text-center">Pan de elote con crema de rompope y palomitas caramelizadas.</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center">Salami de chocolate</h5>
								<p class="text-center">El chocolate crujiente en forma de salami, servido con queso crema y mermelada casera.</p>
								<div class="col-xs-6"><img src="img/hongos.png" class="posada-img2" alt=""></div>
								<div class="col-xs-6"><h4>$220<span> <br> Por persona</span></h4></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{#<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4 col-sm-offset-4 cuadro22">
						<div class="container">
							<div class="row">
								<div class="titulo">
									<h2 class="text-center">PAQUETE veggie</h2>
								</div>
								<h3 class="text-center">ENTRADA</h3>
								<p class="text-center">Ensalada de espinaca baby o elotes asados</p>
								<h3 class="text-center">PLATO FUERTE</h3>
								<p class="text-center">Ensalada de espinaca baby o elotes asados</p>
								<h3 class="text-center">POSTRE</h3>
								<p class="text-center">Ensalada de espinaca baby o elotes asados</p>
								<div class="col-xs-6"><img src="img/hojas.png" class="posada-img" alt=""></div>
								<div class="col-xs-6"><h4>$220<span> <br>Por persona</span></h4></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>#}
		<div class="section " id="DrinksPosada">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 cuadro21">
						<div class="container">
							<div class="row">
								<div class="col-xs-12 col-sm-12 hidden-xs  bebidas">
									<h1 class="text-center"> PAQUETES DE BEBIDA</h1>
								</div>
								<div class="col-xs-12 col-sm-4">
									<div class="titulo">
										<h2 class="text-center">PAQUETE UNO</h2>
									</div>
									<h3 class="text-center">INCLUYE</h3>
									<br>
									<p class="text-center">Dos destilados nacionales</p>
									<br>
									<p class="text-center">Doce mezcladores</p>
									<p class="text-center">(Doce refrescos de 355ml c/u</p>
									<p class="text-center">o tres jarras de jugo)</p>
									<br>
									<h5>$1,800</h5>
								</div>
								<div class="col-xs-12 col-sm-4">
									<div class="titulo">
										<h2 class="text-center">PAQUETE DOS</h2>
									</div>
									<h3 class="text-center">INCLUYE</h3>
									<br>
									<p class="text-center">Dos destilados (uno nacional y uno importado)</p>
									<br>
									<p class="text-center">Doce mezcladores</p>
											<p class="text-center">(Doce refrescos de 355ml c/u</p>
											<p class="text-center">o tres jarras de jugo)</p>
											<br>
											<p class="text-center">Veinte Jelly Shots (sabor especial de la casa)</p>
													<p class="text-center">Diez cervezas de barril (vaso 12oz)</p>
									<h5>$2,800</h5>
								</div>
								<div class="col-xs-12 col-sm-4">
									<div class="titulo">
										<h2 class="text-center">PAQUETE TRES</h2>
									</div>
									<h3 class="text-center">INCLUYE</h3>
									<br>
									<p class="text-center">Dos destilados (uno nacional y uno importado)</p>
									<br>
									<p class="text-center">Doce mezcladores</p>
									<p class="text-center">(Doce refrescos de 355ml c/u</p>
									<p class="text-center">o tres jarras de jugo)</p>
									<br>
									<p class="text-center">Veinte Jelly Shots (sabor especial de la casa)</p>
									<p class="text-center">Veinte cervezas de barril (vaso 12oz)</p>
									<h5>$3,800</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block extraScripts %}

	
{% endblock %}
