{% extends 'templates/main.twig' %}

{% block extraStyles %}
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}


{% block SiteContent %}

{% if titulo == "Posadas" %}
<div class="pagPosada">	
	<header class="section" id="posadaHome">
		<img src="img/logo-posada.png" class="aling img-responsive" alt="">
	</header>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12 hidden-xs col-sm-12">
				<div class="cuadro">
					<img src="img/lineas.png" class="img-responsive ima" alt="">
					<h1 class="text-center"> PAQUETES DE COMIDA</h1>
				</div>
			</div>
		</div>
	</div>	
	<div class="section" id="PaquetesPosadas">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4  cuadro2">
					<div class="container">
						<div class="row">
							<div class="titulo">
								<h2 class="text-center">MENÚ UNO</h2>
							</div>
							<div class="content-1">
								<h3 class="text-center">ENTRADA</h3>
								<h5 class="text-center">Ensalada de espinaca baby</h5>
								<p class="text-center">Pasas, Almendras, Queso de cabra cenizo y Aderezo de frutos rojos</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center">Elotes asados</h5>
								<p class="text-center">Servidos con chile Tajín y queso parmesano.</p>
							</div>
							<div class="content-2">
								<h3 class="text-center">PLATO FUERTE</h3>
								<h5 class="text-center">Pechuga Carelli</h5>
								<p class="text-center">Pechuga de pollo relleno de queso panela y pasas. Cocinado al alto vacío a 60°C, servida con cebada a la hoja Santa y reducción de tamarindo.</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center">Rib Eye estilo Japonés</h5>
								<p class="text-center">Rib Eye a cocción media en salsa  Sukiyaki. Servido con nopales y cebolleta.</p>
							</div>
							<div class="content-3">
								<h3 class="text-center">POSTRE</h3>
								<p class="text-center">Pastel de elote</p>
								<h5 class="text-center">Pan de elote con crema de rompope y palomitas caramelizadas.</h5>
								<h4 class="opcion">o</h4>
								<p class="text-center">Garipato</p>
								<h5 class="text-center">Panqué a base de mantequilla cubierto con gragea blanca, acompañado con crema de café; servido en nuestro simbólico pato.</h5>
							</div>
							<div class="col-xs-6"><img src="img/carne.png" class="posada-img" alt=""></div>
							<div class="col-xs-6"><h4>$250<span> <br> Por persona</span></h4></div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 cuadro2">
					<div class="container">
						<div class="row">
							<div class="titulo">
								<h2 class="text-center">MENÚ DOS</h2>
							</div>
							<div class="content-1">
								<h3 class="text-center">ENTRADA</h3>
								<h5 class="text-center">Tártara de Atún</h5>
								<p class="text-center">Atún cortado al  momento, marinado en salsa de soya, champiñón y cebolla morada. Servido sobre un chicharrón de camarón.</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center"> Ensalada de espinaca baby</h5>
								<p class="text-center">Pasas, Almendras, Queso de cabra cenizo y Aderezo de frutos rojos</p>
							</div>
							<div class="content-2">
								<h3 class="text-center">PLATO FUERTE</h3>
								<h5 class="text-center">Pasta Capriccio </h5>
								<p class="text-center">Spaghetti preparado con tocino, queso de cabra, mozzarella, parmesano, con un toque de aceite de trufa blanca.</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center">Carnitas de pato</h5>
								<p class="text-center"> Pato desmigado, acompañado de chiles toreados, cebolla asada y nopal, guacamole y tortillas de maíz.</p>
							</div>
							<div class="content-3">
								<h3 class="text-center">POSTRE</h3>
								<h5 class="text-center">Apfelkuchen</h5>
								<p>Tarta de manzana tradicional alemana, servida con helado de vainilla aldo’s.</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center">Salami de chocolate</h5>
							</div>
							<p>El chocolate crujiente en forma de salami, servido con queso crema y mermelada casera.</p>
							<h4>$350<span> <br>Por persona</span></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 cuadro2">
					<div class="container">
						<div class="row">
							<div class="titulo">
								<h2 class="text-center">MENÚ veggie</h2>
							</div>
							<div class="content-1">
								<h3 class="text-center">ENTRADA</h3>
								<h5 class="text-center">Ensalada de espinaca baby </h5>
								<p class="text-center">Pasas, Almendras, Queso de cabra y Aderezo de frutos rojos</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center">Elotes asados</h5>
								<p class="text-center">Servidos con chile Tajín y queso parmesano.</p>
							</div>
							<div class="content-2">
								<h3 class="text-center">PLATO FUERTE</h3>
								<h5 class="text-center">Risotto</h5>
								<p class="text-center"> Arroz “Carnaroli”, mezcla de setas y queso parmesano.</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center">Tacos al pastor veganos</h5>
								<p class="text-center"> Tortilla de maíz hecha a mano con un bistek de chorizo de soya y adobo. Acompañado de una mermelada de piña y cebolla morada.</p>
							</div>
							<div class="content-3">
								<h3 class="text-center">POSTRE</h3>
								<h5 class="text-center">Pastel de elote</h5>
								<p class="text-center">Pan de elote con crema de rompope y palomitas caramelizadas.</p>
								<h4 class="opcion">o</h4>
								<h5 class="text-center">Salami de chocolate</h5>
								<p class="text-center">El chocolate crujiente en forma de salami, servido con queso crema y mermelada casera.</p>
							</div>
							<div class="col-xs-6"><img src="img/hongos.png" class="posada-img2" alt=""></div>
							<div class="col-xs-6"><h4>$220<span> <br> Por persona</span></h4></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<div class="section" id="DrinksPosada">	
		<div class="container">
			<div class="row">
				<div class="col-xs-12 cuadro22">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-12 hidden-xs  bebidas">
								<h1 class="text-center"> PAQUETES DE BEBIDA</h1>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="titulo">
									<h2 class="text-center">PAQUETE UNO</h2>
								</div>
								<h3 class="text-center">INCLUYE</h3>
								<br>
								<p class="text-center">Dos destilados nacionales</p>
								<br>
								<p class="text-center">Doce mezcladores</p>
								<p class="text-center">(Doce refrescos de 355ml c/u</p>
								<p class="text-center">o tres jarras de jugo)</p>
								<br>
								<h5>$1,800</h5>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="titulo">
									<h2 class="text-center">PAQUETE DOS</h2>
								</div>
								<h3 class="text-center">INCLUYE</h3>
								<br>
								<p class="text-center">Dos destilados (uno nacional y uno importado)</p>
								<br>
								<p class="text-center">Doce mezcladores</p>
								<p class="text-center">(Doce refrescos de 355ml c/u</p>
								<p class="text-center">o tres jarras de jugo)</p>
								<br>
								<p class="text-center">Veinte Jelly Shots (sabor especial de la casa)</p>
								<p class="text-center">Diez cervezas de barril (vaso 12oz)</p>
								<h5>$2,800</h5>
							</div>
							<div class="col-xs-12 col-sm-4">
								<div class="titulo">
									<h2 class="text-center">PAQUETE TRES</h2>
								</div>
								<h3 class="text-center">INCLUYE</h3>
								<br>
								<p class="text-center">Dos destilados (nacionales o importados)</p>
								<br>
								<p class="text-center">Doce mezcladores</p>
								<p class="text-center">(Doce refrescos de 355ml c/u</p>
								<p class="text-center">o tres jarras de jugo)</p>
								<br>
								<p class="text-center">Veinte Jelly Shots (sabor especial de la casa)</p>
								<p class="text-center">Veinte cervezas de barril (vaso 12oz)</p>
								<h5>$3,800</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
			
				
		</div>


	</div>	
	<div class="container ContactoPosadas">
			<form class="reservas" action="https://submit.jotform.co/submit/73126515833859/" method="post" name="form_73126515833859" id="73126515833859" accept-charset="utf-8">

				<h2>RESERVAS</h2>
				<input type="hidden" name="formID" value="73126515833859" >
				<div class="form-group row">	
					<div class="col-md-4" data-type="control_fullname" id="id_3">
						{# <label>Nombre Completo</label> #}
						<input type="text" id="input_3" name="q3_nombreCompleto" data-type="input-textbox" class="form-control" size="20" value="" data-component="textbox" required="" placeholder="Nombre Completo" />
					</div>
					<div class="col-md-4" data-type="control_textbox" id="id_6">
						{# <label>Correo Electronico</label> #}
						<input type="email" id="input_6" name="q6_correoElectronico" data-type="input-textbox" class="form-control" size="20" value="" data-component="textbox" placeholder="Correo Electronico">
					</div>	
						<div class="col-md-4" data-type="control_textbox" id="id_4">
					{# 	<label>Telefono</label> #}
						<input type="tel" id="input_4" name="q4_telefono4" data-type="input-textbox" class="form-control" value="" data-component="textbox" placeholder="Telefono" >
					</div>	
				</div>
				<div class="form-inline row center-block">
				
					<div class="col-md-4 col-xs-12 center-block" data-type="control_textbox" id="id_7">
						<label>Horas</label>
						<input type="time" id="input_7" name="q7_hora" data-type="input-textbox" class="form-control" value="" data-component="textbox" placeholder="Horas">
					</div>
					<div class="col-md-4 col-xs-12 center-block" data-type="control_textbox" id="id_8">
						<label>Fecha</label>
						<input type="date" id="input_8" name="q8_fecha" data-type="input-textbox" class="form-control" value="" data-component="textbox">
					</div>
					<div class="col-md-4 col-xs-12 center-block" data-type="control_number" id="id_9">
						<label class="visible-sm-inline-block">No.Personas</label>
						<label class="visible-xs-block">No.Personas</label>  
						<input type="number" id="input_9" name="q9_nopersonas" data-type="input-number" class="form-control"  value="" min="1" max="24" data-component="number" placeholder="No.Personas">
					</div>
				</div>
				<div class="form-group row" data-type="control_textarea" id="id_10">
					<label>Comentarios</label>
					<div class="col-sm-12">
						<textarea id="input_10" class="form-control" name="q10_comentario" cols="40" rows="5" data-component="textarea"></textarea>
					</div>
				</div>
				<div class="form-group row buttonReserva" data-type="control_button" id="id_2">
					<button id="input_2" type="submit" class="form-submit-button" data-component="button">
						ENVIAR
					</button>
				</div>

				<div style="display:none">
					<input type="text" name="website" value="">
				</div>
				<input type="hidden" id="simple_spc" name="simple_spc" value="73126515833859">
			</form>
		</div>	
</div>
<!--############################################CENA AÑO NUEVO#######################################################-->
{% elseif titulo == "cena" %}

	<header class="section" id="cenaHome">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">	
			<div class="row bajo">
				<a href="#menu" class="boton">MIRA EL MENÚ</a>
				<h3 class="text-center">¡Recibe este año nuevo en el mejor lugar!</h3>
				<h5 class="text-center">Además prueba nuestras delicias de temporada</h5>
			</div>
		</div>
	</header>

	
<section class="menuCena">
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-xs-12 mb-5">
				<img src="img/export.png" class="img-responsive">
			</div>
			<div class="col-sm-4 col-xs-12"></div>
			<div class="col-sm-4 col-xs-12 mb-5 d-flex-center">
				<div class="col-xs-4 center-block">
					<img src="img/clock.png" class="center-block mb-2"><p class="text-center">4 TIEMPOS</p>
				</div>
				<div class="col-xs-4 center-block">
					<img src="img/person.png" class="center-block mb-2"><p class="text-center">INDIVIDUAL</p>
				</div>
			</div>
		</div>

		<div class="row" id="menu">
			<div class="col-xs-12"><h2 class="text-center">MENÚ</h2></div>
		</div>
		<div class="row mt-5">
			<div class="col-md-6 col-sm-12">
				<div class="rec_menu">
					<h3 class="text-center">1ER TIEMPO</h3>
				</div>
				<h2 class="text-center mt-3">Rollo Vietnamita</h2>
				<p class="mt-3 mb-3">Fresca combinación de lechugas orgánicas aderezadas con vinagreta de
miel y jengibre, frutas tropicales y pimientos rostizados. Envueltos en una hoja de arroz; platillo típico de Vietnam. </p>
			</div>
			<div class="col-md-6 col-sm-12 mb-5">
				<div class="rec_menu">
					<h3 class="text-center">2DO TIEMPO</h3>
				</div>
				<h2 class="text-center mt-3">Salmon Cake</h2>
				<p class="mt-3">Deliciosa lasagna de salmón bañado con una salsa de queso parmesano y mozzarella, tomate cherry al romero y poro crujiente.Acompañado de una crema de pimiento rojo y reducción de vinagre balsámico; muy al estilo Nomads.</p>
			</div>

		</div>
		<div class="row rec_menu"><h3 class="text-center">3ER TIEMPO<br><span>(A ELEGIR)</span></h3></div>
		<div class="row mt-5">
		
			<div class="col-md-6 col-sm-12">
				<h2 class="text-center">Risotto al merluzzo</h2>
				<p class="mt-3 mb-3">Lonja de bacalao fresco a la mantequilla sobre arroz italiano preparado
con verduras frescas y queso parmesano. Acompañado de esparragos,elote baby y julianas de pimientos.</p>
			</div>
			<div class="col-md-6 col-sm-12">
				<h2 class="text-center"><b>T ́eel chak</b> (<span style="font-size:2rem"> borrego rojo en maya </span>)</h2>
				<p class="mt-3">Costillar de cordero servido sobre una salsa de achiote con coco y
habanero, puré de berenjena y ajonjoli. Acompañado de col de bruselas, rabano y papas cambray</p>
			</div>
			<div class="col-xs-12 mt-5">
				<h2 class="text-center"><b>Pasta Gricia </b> (opción vegana) <img src="img/vegan.png"></h2>
				<p class="text-center mt-3">Spaguetti al viejo estilo Grisciano</p>
			</div>
		

		</div>
	
		<div class="row mt-5">
			<div class="col-xs-12 rec_menu"><h3 class="text-center">4TO TIEMPO</h3></div>
		</div>
		<div class="row mt-5">
			<div class="col-xs-12">
				<h2 class="text-center">Christmas ball</h2>
				<p class="mt-3">Jitomate confitado en un jarabe de miel, vainilla y anís, relleno de frutos
cristalizados y variedad de nueces. Acompañado de mousse de chocolate ahumado y sandia impregnada con ron y hierbabuena.</p>
			</div>	
			<div class="col-xs-12">
				<h2 class="text-center mt-5">Patricio enchilado</h2>
				<p class="mt-3 text-center">Gomita Casera sabor mandarina, cubierta con sal de hormiga y cardamomo.</p>
			</div>	
		</div>
		<div class="row mt-5 mb-5">
			<div class="col-sm-3 col-xs-12 mb-5">
				<h2 class="text-center">Costo por Persona</h2>
			</div>
			<div class="col-sm-3 col-xs-12 mb-5">
				<h3 class="rec_price text-center"><b>$899.<sup>00</sup></b></h3>
			</div>
			<div class="col-sm-3 col-xs-12 mb-5">
				<h2 class="text-center">Con Opción Vegana <img src="img/vegan.png"></h2>
			</div>
			<div class="col-sm-3 col-xs-12">
				<h3 class="rec_price text-center"><b>$750.<sup>00</sup></b></h3>
			</div>
		</div>
	</div>	
</section>
	
<section class="contact">
	<div class="container ContactoPosadas_c">
		<form class="reservas" action="https://submit.jotform.co/submit/73446793004862/" method="post" name="form_73446793004862" id="73446793004862" accept-charset="utf-8">

			<h2>RESERVAS</h2>
			<input type="hidden" name="formID" value="73446793004862" >
			<div class="form-group row">	
				<div class="col-md-4" data-type="control_fullname" id="id_3">
					{# <label>Nombre Completo</label> #}
					<input type="text" id="input_3" name="q3_nombreCompleto" data-type="input-textbox" class="form-control" size="20" value="" data-component="textbox" required="" placeholder="Nombre Completo" />
				</div>
				<div class="col-md-4" data-type="control_textbox" id="id_6">
					{# <label>Correo Electronico</label> #}
					<input type="email" id="input_6" name="q6_correoElectronico" data-type="input-textbox" class="form-control" size="20" value="" data-component="textbox" placeholder="Correo Electronico">
				</div>	
					<div class="col-md-4" data-type="control_textbox" id="id_4">
				{# 	<label>Telefono</label> #}
					<input type="tel" id="input_4" name="q4_telefono4" data-type="input-textbox" class="form-control" value="" data-component="textbox" placeholder="Telefono" >
				</div>	
			</div>
			<div class="form-inline row center-block">
			
				<div class="col-md-4 col-xs-12 " data-type="control_textbox" id="id_7">
						<label>Hora reserva</label>
						<input type="time" id="input_7" name="q7_hora" data-type="input-textbox" class="form-control" value="" data-component="textbox" placeholder="Horas">
				</div>
				<div class="col-md-4 col-xs-12 " data-type="control_textbox" id="id_8">
					<label>Fecha</label>
					<input type="date" id="input_8" name="q8_fecha" data-type="input-textbox" class="form-control" value="" data-component="textbox">
				</div>
				<div class="col-md-4 col-xs-12 " data-type="control_number" id="id_9">
					<label class="">No.Personas</label>
					
					<input type="number" id="input_9" name="q9_nopersonas" data-type="input-number" class="form-control"  value="" min="1" max="24" data-component="number" >
				</div>
			</div>
			<div class="col-lg-8 col-lg-offset-2 col-xs-12" data-type="control_textarea" id="id_10">
				<label>Comentarios</label>
				<div class="col-sm-12">
					<textarea id="input_10" class="form-control" name="q10_comentario" cols="40" rows="5" data-component="textarea"></textarea>
				</div>
			</div>
			<div class="col-xs-12 center-block buttonReserva" data-type="control_button" id="id_2">
				<button id="input_2" type="submit" class="form-submit-button" data-component="button">
					ENVIAR
				</button>
			</div>

			<div style="display:none">
				<input type="text" name="website" value="">
			</div>
			<input type="hidden" id="simple_spc" name="simple_spc" value="73446793004862">
		</form>
	</div>	
	</section>	
	{#<footer>
		<div class="row">
			<p>Costo por persona $899</p>
			<p>Con Opción Vegetariana $750</p>
			<a href="" class="btn-res">reserva</a>
		</div>
	</footer>#}
{% else %}
<div class="section" id="DrinksPosada">
	<div class="container">
		<div class="row thanks">
			<div class="col-xs-12">
				<h2><img src="img/checked.png" width="40" class="mr-2 float-left" alt=""> Thank you, your form has been sended, our team we will answer you ASAP.</h2>
				<img src="https://media.giphy.com/media/ZPiGSOc042b2E/giphy.gif" class="w-100 d-block mx-auto" alt="Team Cat">
				<a href="/" class="btn btn-success">Go Back To Home</a>
			</div>
		</div>
	</div>
</div>


    

{% endif %}

{% endblock %}


{% block extraScripts %}

	
{% endblock %}
