{% extends 'templates/main.twig' %}

{% block extraStyles %}
	<link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}


{% block SiteContent %}

	<div id="fullpage">
		<header class="section" id="posadaHome">
			<a href="#Paquetes">
				<img src="img/logo-posadas.png" alt="">
			</a>
			<br>
			<a href="#Paquetes" class="btn btn-nomads">CHECA NUESTROS PAQUETES</a>

		</header>
		<div class="section" id="PaquetesPosadas">
			<div class="container">
				<h1><i class="icon-cutlery"></i> PAQUETES DE COMIDA</h1>
				<div class="row">
						<div class="col-xs-12 col-sm-6">
							<img src="img/comida1.png" class="img-responsive" width="100%" alt="">
							<br>
							<h2>
								INCLUYE:
							</h2>
							<p>
								<b>2</b> Platillos a Elegir del Siguiente menú: <br>
							</p>
							<div class="row menulist">
								<div class="col-xs-12 col-sm-6">
									GUACAMOLE FRESCO <br>
									ELOTES ASADOS <br>
									AROS DE CALAMAR <br>
									ENSALADA DE KALE <br>
									PAD THAI <br>
								</div>
								<div class="col-xs-12 col-sm-6">
									CURRY DE POLLO <br>
									RISOTTO AL FUNGHI <br>
									EMPANADA DE RAJAS <br>
									RAVIOLI MEDIALUNA <br>
									ARANCINO SICILIANO <br>
								</div>
							</div>
							<h3>$ 150 <span>MXN</span></h3>
							<br>
						</div>
						<div class="col-xs-12 col-sm-6">
							<img src="img/comida2.png" class="img-responsive center-block" alt="">
							<br>
							<h2>
								INCLUYE:
							</h2>
							<p>
								<b>2</b> Platillos a Elegir del Siguiente Menú:
							</p>
							<div class="row menulist">
								<div class="col-xs-12 col-sm-6">
									ENSALADA DE ARÚGULA, PERA Y PARMESANO. <br>
									ENSALADA DE KALE <br>
									ARANCINO SICILIANO <br>
									PAD THAI	 <br>
									CON POLLO O CAMARONES. <br>
									GUACAMOLE FRESCO <br>
									ELOTES ASADOS <br>
									AROS DE CALAMAR <br>
									CURRY DE POLLO <br>
									TACOS VEGANOS <br>
									TÁRTARA DE ATÚN <br>
									EMPANADA DE RAJAS <br>
								</div>
								<div class="col-xs-12 col-sm-6">
									RAVIOLI MEDIALUNA <br>
									PORK BELLY <br>
									MEJILLONES ESTILO BELGA <br>
									RISOTTO AL FUNGHI <br>
									ESPALDILLA DE RES <br>
									ATÚN SELLADO EN BERENJENA <br>
									JERK SALMÓN <br>
									COSTILLA DE CORDERO <br>
									RIB EYE <br>
									CARNITAS DE PATO <br>
									RIB EYE ESTILO JAPONES <br>
								</div>
							</div>
							<h3>$ 250 <span>MXN</span></h3>
							<br>
						</div>
				</div>
			</div>
		</div>
		<div class="section" id="DrinksPosada">
			<div class="container">
				<h1><i class="icon-alcohol-shop"></i> PAQUETES DE BEBIDA</h1>
				<div class="row">
						<div class="col-xs-12 col-sm-6">
							<img src="img/sencilla.png" class="img-responsive center-block" alt="">
							<br>
							<h2>
								INCLUYE:
							</h2>
							<p>
								Barra Libre <b>2 Horas</b>
								<br>
								<ul>
									<li>Refresco</li>
									<li>Agua Mineral</li>
									<li>Cerveza de Barril XX Lager</li>
									<li>Tequila José Cuervo Tradicional</li>
									<li>Mezcal 400 Conejos</li>
									<li>Ron Matusalem</li>
									<li>Vodka Gotland</li>
									<li>Whisky Johnny Walker Etiqueta Roja</li>
								</ul>
							</p>
							<h3>$ 200 <span>MXN</span></h3>
							<br>
						</div>
						<div class="col-xs-12 col-sm-6">
							<img src="img/premium.png" class="img-responsive center-block" alt="">
							<br>
							<h2>
								INCLUYE:
							</h2>
							<p>
								Barra Libre <b>2 Horas</b>
								<br>
								<ul>
									<li>Refrescos</li>
									<li>Agua Mineral</li>
									<li>Cerveza de Barril XX Lager</li>
									<li>Tequila Don Julio</li>
									<li>Vodka Stolichnaya</li>
									<li>Vodka Absolut</li>
									<li>Mezcal 400 Conejos</li>
									<li>Gin Bombay</li>
									<li>Gin Hendrick's</li>
									<li>Whisky Johnny Walker Etiqueta Negra</li>
									<li>Todos los Vinos de la Carta</li>
									<li>Ron Bacardí</li>
									<li>Ron Capitan Morgan</li>
								</ul>
							</p>
							<h3>$ 250 <span>MXN</span></h3>
							<br>

						</div>
				</div>
			</div>
		</div>
		<div class="section" id="ContactoPosadas">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2>
							Para Más información déjanos tus Datos o envía un correo a:  <b>gparra@nomadscancun.com</b>
							o al teléfono: <b>(998) 898 3192</b>
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block extraScripts %}

	<script>

		(function() {
		    var triggerBttn = document.getElementById('trigger-overlay'),
		        overlay = document.querySelector('div.overlay'),
		        closeBttn = overlay.querySelector('button.overlay-close');
		    list = overlay.querySelector("nav").getElementsByTagName("li"),
		        transEndEventNames = {
		            'WebkitTransition': 'webkitTransitionEnd',
		            'MozTransition': 'transitionend',
		            'OTransition': 'oTransitionEnd',
		            'msTransition': 'MSTransitionEnd',
		            'transition': 'transitionend'
		        },
		        transEndEventName = transEndEventNames[Modernizr.prefixed('transition')],
		        support = { transitions: Modernizr.csstransitions };

		    function toggleOverlay() {
		        if (classie.has(overlay, 'open')) {
		            classie.remove(overlay, 'open');
		            classie.add(overlay, 'close');
		            var onEndTransitionFn = function(ev) {
		                if (support.transitions) {
		                    if (ev.propertyName !== 'visibility') return;
		                    this.removeEventListener(transEndEventName, onEndTransitionFn);
		                }
		                classie.remove(overlay, 'close');
		            };
		            if (support.transitions) {
		                overlay.addEventListener(transEndEventName, onEndTransitionFn);
		            } else {
		                onEndTransitionFn();
		            }
		        } else if (!classie.has(overlay, 'close')) {
		            classie.add(overlay, 'open');
		        }
		    }
		    triggerBttn.addEventListener('click', toggleOverlay);
		    closeBttn.addEventListener('click', toggleOverlay);
		    for (i = 0, len = list.length; i < len; i++) {
		        list[i].addEventListener('click', toggleOverlay);
		    }

		})();

	</script>
	<script>
		jQuery(document).ready(function($) {
			$('#fullpage').fullpage({
			    verticalCentered: true,
			    continuousVertical: true,
			    scrollingSpeed: 400,
			    keyboardScrolling: true,
			    slidesNavigation: true,
				// autoScrolling: false,
				fitToSection: true,
			    animateAnchor: true,
			    recordHistory: true,
			    navigation: true,
			    anchors: ['Inicio', 'Paquetes', 'Bebidas', 'Reserva'],
			    controlArrows: false,
			    slidesNavigation: false,
			    resetSliders: true,
			    responsiveHeight: 750,
			    bigSectionsDestination: 'top',
			    normalScrollElementTouchThreshold: 5,
			    touchSensitivity: 15,
			    onLeave: function(index, nextIndex, direction) {

			        $('.menuhit').removeClass(function(index, css) {
			            return (css.match(/(^|\s)show-\S+/g) || []).join(' ');
			        });
			        if (nextIndex == '1') {
			            $('.menuhit').addClass('show-1');
			        }
			        if (nextIndex == '2') {
			            $('.menuhit').addClass('show-2');
			        }
			        if (nextIndex == '3') {
			            $('.menuhit').addClass('show-3');
			        }
			        if (nextIndex == '4') {
			            $('.menuhit').addClass('show-4');
			        }
			        if (nextIndex == '5') {
			            $('.menuhit').addClass('show-5');
			        }
			        if (nextIndex == '6') {
			            $('.menuhit').addClass('show-6');
			        }
			        /*if(nextIndex == '2'){
			            $('#eag-menu-total').addClass('open');
			        } else {
			            $('#eag-menu-total').removeClass('open');
			        }*/

			    }
			});
		});
	</script>
{% endblock %}
