{% extends 'templates/main.twig' %}

{% block extraStyles %}
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

{% endblock %}


{% block SiteContent %}

	<div class="pagine">
		<header class="section" id="posadaHome">
			<img src="img/logo-posada.png" class="aling img-responsive" alt="">
			
		</header>
		<div class="container">
			<div class="row">
				<div class="cuadro">
						<img src="img/lineas.png" class="img-responsive ima" alt="">
						<h1 class="text-center"> PAQUETES DE COMIDA</h1>
				</div>
			</div>
		</div>
		<div class="section" id="PaquetesPosadas">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4  cuadro2">
						<div class="container">
							<div class="row">
								<div class="titulo">
									<h2 class="text-center">PAQUETE UNO</h2>
								</div>
								<h3 class="text-center">ENTRADA</h3>
								<p class="text-center">Ensalada de espinaca baby o Elotes asados</p>
								<h3 class="text-center">PLATO FUERTE</h3>
								<p class="text-center">Pechuga Carelli o Rib Eye estilo Japonés</p>
								<h3 class="text-center">POSTRE</h3>
								<p class="text-center">Pastel de elote o Garipato</p>
								<h4>$250</h4>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-sm-offset-4 cuadro2">
						<div class="container">
							<div class="row">
								<div class="titulo">
									<h2 class="text-center">PAQUETE dos</h2>
								</div>
								<h3 class="text-center">ENTRADA</h3>
								<p class="text-center">Tártara de Atún o Ensalada de espinaca baby</p>
								<h3 class="text-center">PLATO FUERTE</h3>
								<p class="text-center">Pasta Capriccio o Carnitas de pato</p>
								<h3 class="text-center">POSTRE</h3>
								<p class="text-center">Apfelkuchen o Salami de chocolate</p>
								<h4>$350</h4>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-sm-offset-4 cuadro21">
						<div class="container">
							<div class="row">
								<div class="titulo">
									<h2 class="text-center">PAQUETE veggie</h2>
								</div>
								<h3 class="text-center">ENTRADA</h3>
								<p class="text-center">Ensalada de espinaca baby o elotes asados</p>
								<h3 class="text-center">PLATO FUERTE</h3>
								<p class="text-center">Ensalada de espinaca baby o elotes asados</p>
								<h3 class="text-center">POSTRE</h3>
								<p class="text-center">Ensalada de espinaca baby o elotes asados</p>
								<h4>$220</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section" id="DrinksPosada">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 cuadro21">
						<div class="container">
							<div class="row">
								<div class="col-12 bebidas">
									<h1 class="text-center"> PAQUETES DE BEBIDA</h1>
								</div>
								<div class="col-xs-4">
									<div class="titulo">
										<h2 class="text-center">PAQUETE UNO</h2>
									</div>
									<h3 class="text-center">INCLUYE</h3>
									<br>
									<p class="text-center">Dos destilados nacionales</p>
									<br>
									<p class="text-center">Doce mezcladores</p>
									<p class="text-center">(Doce refrescos de 355ml c/u</p>
									<p class="text-center">o tres jarras de jugo)</p>
									<br>
									<h5>$1,800</h5>
								</div>
								<div class="col-xs-4">
									<div class="titulo">
										<h2 class="text-center">PAQUETE DOS</h2>
									</div>
									<h3 class="text-center">INCLUYE</h3>
									<br>
									<p class="text-center">Dos destilados (uno nacional y uno importado)</p>
									<br>
									<p class="text-center">Doce mezcladores</p>
											<p class="text-center">(Doce refrescos de 355ml c/u</p>
											<p class="text-center">o tres jarras de jugo)</p>
											<br>
											<p class="text-center">Veinte Jelly Shots (sabor especial de la casa)</p>
													<p class="text-center">Diez cervezas de barril (vaso 12oz)</p>
									<h5>$2,800</h5>
								</div>
								<div class="col-xs-4">
									<div class="titulo">
										<h2 class="text-center">PAQUETE TRES</h2>
									</div>
									<h3 class="text-center">INCLUYE</h3>
									<br>
									<p class="text-center">Dos destilados (uno nacional y uno importado)</p>
									<br>
									<p class="text-center">Doce mezcladores</p>
									<p class="text-center">(Doce refrescos de 355ml c/u</p>
									<p class="text-center">o tres jarras de jugo)</p>
									<br>
									<p class="text-center">Veinte Jelly Shots (sabor especial de la casa)</p>
									<p class="text-center">Veinte cervezas de barril (vaso 12oz)</p>
									<h5>$3,800</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


{% block extraScripts %}

	
{% endblock %}
