

.pagPosada
	background white !important	
h1,h2,h3,h4,h5,p
	font-family: 'Josefin Sans', sans-serif;
#posadaHome
	background-image url('../img/fondo-posadas.png')
	-webkit-background-size: 100% 100%           /* Safari 3.0 */
	-moz-background-size: 100% 100%           /* Gecko 1.9.2 (Firefox 3.6) */
	-o-background-size: 100% 100%           /* Opera 9.5 */
	background-size: 100% 100%  
	background-position top center
	background-repeat no-repeat
	background-size: auto 100%
	min-height: 100vh
	z-index: 1 !important
	position: relative
	display: flex
	.aling
		top 10%
		left 50%
		-webkit-transform translateX(-50%)
		transform translateX,Y (-50%)
		position: absolute
#cenaHome
	font-family: 'Lato', sans-serif;
	background black
	background-image url('../img/cena.png')
	background-position center
	background-repeat no-repeat
	background-size: cover
	min-height: 100vh
	z-index: 0 !important
	position: relative
	display: flex
	p
		color white
		padding: 70px
	+for_breakpoint(mobile)
		background-image url('../img/cena_respo.png')
	.logo2
		+for_breakpoint(tablet)
			padding-top:  20vh	
		+for_breakpoint(mobile)
			padding-top:  20vh	
	.aling
		top 10%
		left 50%
		-webkit-transform translateX(-50%)
		transform translateX,Y (-50%)
		position: absolute
	.bajo
		position: relative
		padding-top: 50vh
		+for_breakpoint(mobile)
			padding-top: 70vh
		.boton
			background: #FBB620
			padding: 15px 86px;
			color: black
			box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4)
		h3
			color: white
			font-size: 30px
			font-weight: 700
			margin-top: 90px
			text-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4)
		h5
			color white
			font-size: 20px
			font-weight: 400!important
			text-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4)
		
.tipo
	font-size: 15px	!important
.cuadro
	background: white
	width: 100%
	height 150px
	font-size 2.5rem
	margin-bottom -108px
	font-family: 'Lusitana'
	z-index 999999999999
	position: relative
	margin-top: -41px!important
	box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4)
	h1
		line-height: 150px
		font-size: 40px
	.ima
		position: absolute
		width: 100%
		height: 100%
#PaquetesPosadas
	padding-top: 20vh 
	+for_breakpoint(mobile)
		padding-top: 10vh 
#PaquetesPosadas, #DrinksPosada
	background-image url('../img/posadas02.png')
	background-position top center
	background-size cover
	color white
	letter-spacing 1px
	text-align left
	position: relative
	display: block
	
	.cuadro2
		background: white
		position: relative
		display: flex
		margin-bottom: 10vh
		min-height: 980px
		.content-1
			min-height 250px
		.content-2
			min-height: 270px
		.titulo
			display: flex
			justify-content: center
			padding-top 45px
			h2
				background: black
				min-width: 220px
				color: white
				font-size: 20px
				padding: 5px
				line-height: 40px
				font-weight: 700
				height: 40px
		h3
			font-size: 20px
			font-weight: 700
			color: black!important
			padding 28px 0 16px
			
		p
			color black
			padding-top 0
			font-size: 12
			font-weight: 300
		h4
			font-size: 29px
			font-weight: 700
			text-align: right 
			color: black
			padding: 30px 0 30px 0
			span 
				font-size: 12px
		.opcion
			font-size: 20px
			font-weight: 300!important
			text-align: center!important
			padding: 13px 0 13px!important		
	.cuadro21
		background: white
		color $coal-nomads
		position: relative
		margin-top: 8vh
		display: flex
		box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4)
		.titulo
			display: flex
			justify-content: center
			padding-top 45px
			h2
				background: black
				min-width: 220px
				color: white
				font-size: 20px
				padding: 5px
				line-height: 40px
				font-weight: 700
				height: 40px
		h3
			font-size: 20px
			font-weight: 700
			color: black!important
			padding-top 45px
		p
			color black
			padding-top 5
			font-size: 12
			font-weight: 300
		h4
			font-size: 29px
			font-weight: 700
			text-align: right 
			color: black
			padding: 30px 0 30px 0
			span 
				font-size: 12px
		h5
			font-size: 29px
			font-weight: 700
			text-align: center
			color: black
			padding: 30px 0 30px 0
		h1
			line-height: 150px
			font-size: 40px		
.cuadro22
	background-color:rgba(255,255,255,0.7)
	position: relative
	margin: 8vh 0 8vh 0
	display: flex
	+for_breakpoint(mobile)
		margin-bottom: 10vh
	h1
		color black
	.titulo
		display: flex
		justify-content: center
		padding-top 45px
		h2
			background: black
			min-width: 220px
			color: white
			font-size: 20px
			padding: 5px
			line-height: 40px
			font-weight: 700
			height: 40px
	h3
		font-size: 20px
		font-weight: 700
		color: black!important
		padding-top 45px
	p
		color black
		padding-top 5
		font-size: 12
		font-weight: 300
	h4
		font-size: 29px
		font-weight: 700
		text-align: right 
		color: black
		padding: 30px 0 30px 0
		span 
			font-size: 12px
	h5
		font-size: 29px
		font-weight: 700
		text-align: center
		color: black
		padding: 30px 0 30px 0
	h1
		line-height: 150px
		font-size: 40px			
.posada-img
	position: absolute
	left -18vh
	top -26px
.posada-img2
	position: absolute
	left -8vh
	top 49px
	+for_breakpoint(mobile)
		top 7px
#DrinksPosada
	background-image url('../img/posadas03.png')
	background-position center
	background-size cover
	.bebidas
		background-image: url('../img/lineas.png')
		background-size: 100% 100%
	.thanks
		color white !important
		display block
		margin auto
		text-align center
		margin-top 10vh
		height 100vh
.ContactoPosadas
	margin-top 70px
	background white
	height 100vh
	.reservas
		padding 20px
		h2
			color black
			border-bottom 1px solid white !important
			width 225px
			float none
			margin 0 auto
			padding 15px
		label
			font-family 'raleway' !important
			font-weight bold
		input[type="text"],
		input[type="tel"],
		input[type="email"],
		textarea
			font-family 'raleway'
			background rgba(255, 255, 255, 0)
			border none
			box-shadow none !important
			border-bottom 1px solid black
		input[type="date"],
		input[type="time"],
		input[type="number"]
			background rgba(255, 255, 255, 0)
			border none
			width 50%
			box-shadow none !important
			font-family: 'Josefin Sans', sans-serif;
			+for_breakpoint(mobile)
				width 100%
		input[type="number"]
			border-bottom 1px solid black		
		input,
		textarea,
		label
			font-size 16px !important
			color black
			max-width 100% !important
			padding 10px
			&::placeholder
				color black
				font-weight bold
		.buttonReserva
			display block
			text-align center
			button
				border 1px solid black
				color black
				padding 15px 32px
				text-align center
				text-decoration none
				font-size 16px
				cursor pointer
				font-weight bold
		div.row
			margin-top 5px
			padding 10px
			.center-block
				text-align center
				padding 10px
		input[type="text"]:focus,
		input[type="number"]:focus,
		input[type="email"]:focus,
		input[type="tel"]:focus,
		input[type="date"]:focus,
		input[type="time"]:focus,
		textarea:focus
			border-bottom 1px solid black
			box-shadow none !important
			outline none !important
.mt-10
	margin-top: 20vh	
	+for_breakpoint(mobile)
		margin-bottom: 5vh		
.mt-5
	margin-top 5vh
.mt-3
	margin-top 3vh	
.mb-5
	margin-bottom 5vh
.mb-3
	margin-bottom 3vh
.mb-2
	margin-bottom 2vh		
.d-flex-center
	display: flex
	justify-content: center

// .d-flex-centerM
// 	+for_breakpoint(mobile)
// 		display: flex
// 		justify-content: center
			
.menuCena
	background black !important
	background-image url('/img/new_year.png')
	background-position center center
	background-repeat no-repeat
	background-size: 100%
	color white
	h1, h2, h3, h4, h5, p,small
		font-family: 'Lato', sans-serif !important;
		color white
	p
		font-size 1.2em !important
	h3
		font-size 1.5em !important
		font-weight bold !important
	span
		font-size 0.7em	
	.rec_menu
		border 1px solid white
		padding 15px
		line-height 80px
		width 220px
		height 70px
		float none
		margin 0 auto
	.rec_price
		border 1px solid white
		padding 15px
		// line-height 80px
		width 150px
		height 60px	
		+for_breakpoint(mobile)	
			float none
			margin 0 auto 

			

footer
	background: red
	position fixed
	bottom 0
	left 0
	width 100%
	padding: 15px
	.btn-res
		background-color: white
		color: black
		border-radius: 30px
		padding: 4px
		position: relative
		float: right 
.logo
	align-items: center
	display: flex

.contact
	background-image: url('/img/footer.png')
	background-size: cover
	.ContactoPosadas_c
		z-index: -2
		min-height: 100vh
		h2
			color: #c0842b
			font-size: 28px
		h3
			color: white
			font-size: 18px
		.reservas
			padding-top: 15vh
			h2
				color white
				text-align: center
				padding-bottom: 10px
			h3
				color white
				text-align: center
				padding-bottom: 20px
				font-size: 1.9rem
			label
				font-family 'raleway' !important
				font-weight bold
			input[type="text"],
			input[type="tel"],
			input[type="email"],
			textarea
				font-family 'raleway'
				background rgba(255, 255, 255, 0)
				border none
				box-shadow none !important
				border-radius: 0
				border-bottom 1px solid white
				width: 100%
				+for_breakpoint(mobile)
					width: 100%
			input[type="date"],
			input[type="time"],
			input[type="number"]
				background rgba(255, 255, 255, 0)
				border none
				width: 100%
				border-radius: 0
				border-bottom 1px solid white
				box-shadow none !important
				font-family: 'Josefin Sans', sans-serif;
				+for_breakpoint(mobile)
					display: inline
					border-bottom 1px solid white
			input[type="number"]
				border-bottom 1px solid white	
			input,
			label
				font-size 16px !important
				color white
				max-width 100% !important
				padding 30px
			+for_breakpoint(mobile)
				label
					padding: 10px!important
				input,
				textarea
					padding: 30px!important
				&::placeholder
					color white
					font-weight bold
			.buttonReserva
				display block
				text-align center
				padding-top: 30px
				button
					background-color: #FBB620
					border 1px solid black
					border-radius: 0
					color black
					padding 15px 32px
					text-align center
					text-decoration none
					font-size 16px
					cursor pointer
					font-weight bold
			div.row
				margin-top 5px
				padding 10px
				.center-block
					text-align center
					padding 10px
			input[type="text"]:focus,
			input[type="number"]:focus,
			input[type="email"]:focus,
			input[type="tel"]:focus,
			input[type="date"]:focus,
			input[type="time"]:focus,
			textarea:focus
				border-bottom 1px solid black
				box-shadow none !important
				outline none !important
.siguenos
	padding-top: 70px
	margin-bottom: 30px
	


