

#posadaHome
	background-image url('../img/fondo-posadas.jpg')
	background-position top center
	background-size cover
	
#PaquetesPosadas
	background-image url('../img/posadas02.jpg')
	background-position top center
	background-size cover
	color white
	letter-spacing 1px
	text-align left
	h2
		margin 0 0 10px
		font-size 2rem
	h3
		color $gold-nomads
		font-weight 900
		letter-spacing 0
		font-size 4rem
	span
		font-size 0.5em
	p
		line-height 2em
		a
			font-size 1.5em
		b
			font-size 2em
	h1
		color $coal-nomads
		font-size 2.5rem
		text-align center
		font-size 900
		margin-bottom 2em
		font-family: 'Lusitana'

#DrinksPosada
	background-image url('../img/drinks-posada.jpg')
	background-position center
	background-size cover

#ContactoPosadas
	background-image url('../img/posadas03.jpg')
	background-position bottom center
	background-size cover
	
	