

#posadaHome
	background-image url('../img/fondo-posadas.jpg')
	background-position top center
	background-size cover
	
#PaquetesPosadas, #DrinksPosada
	background-image url('../img/posadas02.jpg')
	background-position top center
	background-size cover
	color white
	letter-spacing 1px
	text-align left
	h2
		margin 0 0 10px
		font-size 2rem
	h3
		color $gold-nomads
		font-weight 900
		letter-spacing 0
		font-size 4rem
	span
		font-size 0.6em
	p
		line-height 2em
	h1
		color $coal-nomads
		font-size 2.5rem
		text-align center
		font-size 900
		margin-bottom 2em
		font-family: 'Lusitana'
	.nextPhase
		margin 35px auto
		display block
		text-align center
		font-weight 100
	.menulist
		font-size 0.8em

#DrinksPosada
	background-image url('../img/drinks-posada.jpg')
	background-position center
	background-size cover

#ContactoPosadas
	background-image url('../img/posadas03.jpg')
	background-position bottom center
	background-size cover
	form.reservas
		background rgba(255, 255, 255, .1)
		h2
			color white
			border-bottom 1px solid white !important
			width 224px
			float none
			margin 0 auto
			padding 15px
		label
			font-family 'raleway' !important
		input[type="text"],
		input[type="tel"],
		input[type="email"],
		input[type="number"],
		textarea
			border-bottom 1px solid white
			font-family 'raleway'
		input,
		textarea,
		label
			font-size 16px !important
			color white
		button
			border 1px solid white
			color white
			padding 15px 32px
			text-align center
			text-decoration none
			display inline-block
			font-size 16px
			margin 4px 2px
			cursor pointer
			font-weight bold